<md-toolbar id="navMain" ng-show="showMainToolbar" flex class="md-primary animate-show md-whiteframe-z1" ng-click="clickNav()">
    <div class="md-toolbar-tools">
        <md-button ng-click="openSidenav()" class="md-icon-button" hide-gt-md aria-label="Menu">
            <md-icon>menu</md-icon>
        </md-button>
        <h2>{{CurrentGroup.name}}</h2>
        <span flex></span>
        <md-button aria-label="Search" class="md-icon-button" ng-click="toggleSearch()">
            <md-icon>search
                <md-icon>
        </md-button>
        <md-button class="md-icon-button"  ng-click="showGroupDetails()">
            <md-icon md-menu-origin>more_vert</md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-toolbar ng-show="showDevice" flex class="md-primary animate-show md-whiteframe-z1" ng-click="clickNav()">
    <div class="md-toolbar-tools">
        <md-button ng-click="goBack()" class="md-icon-button" hide-gt-md aria-label="Back">
            <md-icon>arrow_back</md-icon>
        </md-button>
        <span flex></span>
        <md-button ng-click="deleteDevice()" class="md-icon-button md-warn" aria-label="Delete Device">
            <md-icon>delete</md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-toolbar flex ng-show="searchModel.searchActive" class="animate-show md-hue-1 md-whiteframe-z1">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleSearch()" aria-label="Back">
            <md-icon>arrow_back</md-icon>
        </md-button>
        <md-input-container md-theme="input" class="search-box" flex>
            <label>&nbsp;</label>
            <input type="search" ng-model="searchModel.searchQuery" placeholder='Search Devices' ng-keyup="keyPress($event.keyCode)">
        </md-input-container>
    </div>
</md-toolbar>

<md-toolbar ng-show="showSearchResults" flex class="md-primary animate-show md-whiteframe-z1" ng-click="clickNav()">
    <div class="md-toolbar-tools">
        <md-button ng-click="goBack()" class="md-icon-button" hide-gt-md aria-label="Back">
            <md-icon>arrow_back</md-icon>
        </md-button>
        <span flex></span>
    </div>
</md-toolbar>